.popular-destinations {
    max-width: 1200px;
    margin: 4.5rem auto 2rem auto;
    padding: 0.7rem;
}

.popular-destinations > h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.destinations-results {
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 3rem auto 2.5rem auto;
    padding: 1.55rem;
    gap: 1.1rem;
}

.review-slider-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-items {
    width: 100%;
    display: flex;
    overflow: hidden;
    transform: translateX(0);
}

.review-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100%;
    transform: translateX(-100%);
    width: 100%;
    height: 100%;
    padding: 4.5rem 1.25rem 3.2rem 1.25rem;
    gap: 2.5rem;
}

.review-item-image {
    flex: 1;
    max-width: 420px;
    min-width: 270px;
    background-position: center;
    background-size: cover;
}

.review-item-image > img {
    width: 100%;
    height: 100%;
    min-height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.review-item-content {
    max-width: 630px;
    min-width: 400px;
    border-radius: 8px;
    padding: 2.15rem;
    background-color: #EEEEEE;
    position: relative;
    flex: 2 1 0;
    display: flex;
    font-size: 0.95rem;
    align-items: center;
}

.review-item-content:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 12px solid transparent;
    border-right: 12px solid #EEEEEE;;
    border-top: 12px solid #EEEEEE;;
    border-bottom: 12px solid transparent;
    left: -20px;
    top: 35px;
}

.review-item-left-btn {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0%, -50%);
}

.review-item-right-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0%, -50%);
}

.review-item-right-btn > button, .review-item-left-btn > button, .review-item-left-btn-item-image > button, .review-item-right-btn-item-image > button {
    cursor: pointer;
    border: none;
    background-color: #191717;
    border-radius: 50%;
    padding: 0.3rem 0.4rem;
}

.review-item-right-btn > button > svg, .review-item-left-btn > button > svg, .review-item-right-btn-item-image > button > svg, .review-item-left-btn-item-image > button > svg {
    width: 30px !important;
    height: 30px !important;
    color: rgb(245, 238, 238) !important;
}

.review-item-box {
    position: absolute;
    top: 10px;
    left: 7px;
    height: 90%;
    width: 10px;
    background-color: orange;
}

.quote-left, .quote-right {
    color: #252B48;
    width: 60px !important;
    height: 60px !important;
}

.quote-left {
    position: absolute;
    top: -10px;
    left: 10px;
    transform: rotate(180deg);
}

.quote-right {
    position: absolute;
    bottom: -10px;
    right: 10px;
}

.review-slider-dots {
    display: flex;
    gap: 0.35rem;
}

.review-slider-dots > button {
    padding: 0.4rem;
    color:#252B48;
}

.review-slider-dots > button > svg {
    width: 20px !important;
    height: 20px !important;
}

.review-item-right-btn-item-image, .review-item-left-btn-item-image {
    display: none;
    opacity: 0;
}

@media(max-width: 1200px) {
    .destinations-results {
        gap: 3.5rem;
    }
    .popular-destinations {
        padding: 1.2rem;
    }
}

@media(max-width: 870px) {
    .destinations-results {
        gap: 2.25rem;
    }
    .popular-destinations {
        padding: 0.8rem;
    }
}

@media(max-width: 800px) {
    .review-item {
        flex-direction: column;
        padding: 3.5rem 0.9rem 3rem 0.9rem;
        gap: 0.45rem;
    }

    .review-item-image {
        width: 100%;
        max-width: none;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .review-item-image > img {
        max-width: 300px;
        border-radius: 50%;
        min-height: 100px;
    }

    .review-item-right-btn-item-image, .review-item-left-btn-item-image {
        display: block;
        opacity: 1;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
    }

    .review-item-right-btn-item-image {
        right: 5%;
    }

    .review-item-left-btn-item-image {
        left: 5%;
    }

    .review-item-content {
        min-width: 100%;
    }

    .review-item-left-btn, .review-item-right-btn {
        display: none;
        opacity: 0;
    }
    .review-item-left-btn-item-image > button, .review-item-right-btn-item-image > button {
        padding: 0.45rem 0.55rem;
    }
    .review-item-left-btn-item-image > button > svg, .review-item-right-btn-item-image > button > svg {
        width: 32px !important;
        height: 32px !important;
    } 
}

@media(max-width: 720px) {
    .destinations-results {
        gap: 3.75rem;
    }
}