.search-Page-Filters-Window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 65%;
    padding: 1.25rem 1.5rem;
    /* background-color: rgb(247, 243, 243); */
    background-color: #fff;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    z-index: 100;
    border-radius: 8px;
    transform: translate(-50%, -50%);
}

.search-Page-Filters-Window > button {
    border: none;
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    right: 10px;
    top: 5px;
}

.search-Page-Filters-Window > button > svg {
    width: 25px !important;
    height: 25px !important;
}