.client-search-page {
    width: 100%;
    height: 100%;
    margin-top: 3.5rem;
}

.client-page-input {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 0 auto;
    max-width: 700px;
    border: 3px solid black;
}

.client-page-search-icon {
    margin-left: 0.4rem;
    width: 25px !important;
    height: 25px !important;
}

.client-page-input > input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px;
    height: 50px;
    font-size: 1.25rem;
}

.filters-row {
    padding: 1rem 1.3rem;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.moreFilters-btn {
    background-color: #256295 !important;
    border-radius: 7px !important;
    display: flex !important;
    gap: 3px !important;
    align-items: center !important;
    font-size: 1.1rem !important;
    color: whitesmoke !important;
}

.moreFilters-btn:hover {
    background-color: rgb(37, 98, 149, 0.85) !important;
}

.moreFilters-btn > svg {
    width: 22px !important;
    height: 22px !important;
}

.css-on777r-MuiAutocomplete-root, .css-l3ln04-MuiAutocomplete-root {
    width: 280px !important;
    height: 55px !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.client-page-results {
    display: flex;
    max-width: 1235px;
    gap: 0.75rem;
    margin: 1.2rem auto;
}

.filters-client {
    flex: 0.2;
    height: fit-content;
    min-width: 230px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    border-radius: 5px;
    padding: 1rem 1.5rem;
}

.popular-filters-sm {
    display: none;
    visibility: hidden;
}

.popular-filters-sm-button {
    cursor: pointer;
    border-radius: 8px !important;
    font-size: 1.1rem !important;
    display: flex !important;
    align-items: center !important;
    padding: 0.75rem !important;
    background-color: #1A2C38 !important;
    color: whitesmoke !important;
}

@media(max-width: 830px) {
    .client-page-results {
        flex-direction: column;
        gap: 1.3rem;
        margin: 1.35rem 0.85rem;
    } 
    .popular-filters-sm {
        width: 100%;
        display: flex;
        visibility: visible;
        justify-content: center;
    }
    .filters-client {
        visibility: hidden;
        display: none;
    }
    .filters-row {
        padding: 0.65rem;
    }
    .more-filters-span-btn {
        display: none;   
        visibility: hidden;
    }
    .css-on777r-MuiAutocomplete-root, .css-l3ln04-MuiAutocomplete-root {
        width: 185px !important;
        height: 55px !important;
    }
    .moreFilters-btn {
        gap: 0 !important;
        padding: 0.65rem 0.4rem !important;
    }
    .client-page-input {
        margin-bottom: 1.45rem;
    }
}

.filters-client > h4 {
    margin-bottom: 8px;
}

.client-current-filters {
    margin-bottom: 0.8rem;
    display: flex;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
}

.client-current-filters > button {
    cursor: pointer;
    border: 1px solid black;
    background-color: #256295;
    color: whitesmoke;
    padding: 0.3rem 0.35rem;
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 6px;
}

.client-current-filters > button > svg {
    width: 16px !important;
    height: 16px !important;
}

.client-popular-filters {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.client-popular-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-hotels-results {
    position: relative;
    flex: 1;
    max-width: 940px;
    margin-bottom: 3.75rem;
}

.client_hotels-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 45px;
}