.settingsForm {
    height: 100vh;
    display: flex;
    margin-top: 6rem;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: flex-start;
}

.settingsForm form {
    background-color:#ECECEC;
    border-radius: 10px;
    /* width: 35rem; */
    display: flex;
    flex-direction: column;
    /* height: 40vh; */
    padding: 3rem 5rem;
}

.settingsInput {
    display: block;
    margin-top: 1.2rem;
}

.settingsInput input {
    display: block;
    margin-top: 6px;
    border: none;
    height: 30px;
    font-size: 1.2rem;
    padding: 8px;
}

.settingsInput input:focus {
    outline: none;
}

.setBtn, .deleteBtn {
    margin-top: 1.2rem;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 6px;
    padding: 1rem 1.2rem;
}

.deleteBtn {
    background: #FF0032;
}

.setBtn {
    background-color:#39B5E0;
}

.setBtn:hover {
    background-color: #00337C;
}

.err {
    color: red;
    text-align: center;
    margin-top: 6px;
}
.success {
    color:#03C988;
    text-align: center;
    margin-top: 6px;
}

