.top-offer {
    flex-basis: 33.33%;
    min-width: 275px;
    pointer-events: none;
    background-color: #FCE9F1;
    border: 1px solid rgb(30, 26, 26);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    gap: 10px;
    -webkit-box-shadow: 8px 9px 19px -12px rgba(40, 40, 45, 1);
    -moz-box-shadow: 8px 9px 19px -12px rgba(40, 40, 45, 1);
    box-shadow: 8px 9px 19px -12px rgba(40, 40, 45, 1);
}

.top-offer-img {
    flex: 1;
    background-size: cover;
    background-image: url('../../../img/some_1_blurred.png');
    background-position: center;
}

.top-offer-img > img {
    width: 100%;
    height: 100%;
    transition: opacity 300ms ease-in-out;
}

.top-offer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-offer-rating {
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 4px;
}
